300W-LP.zip
300W_LP/
300W-3D/
300W-3D-Face/
preprocessed/


# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
